<!DOCTYPE html>
<html lang="en" ng-app="httpPromiseApp">
<head>
    <meta charset="utf-8">
    <title>Task 3 | Classwork-4</title>
    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet"/>
    <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet"/>
    <script>
       angular.module('httpPromiseApp', [])
       .controller('mainCtrl', ['$scope', '$http', function ($scope, $http) {
           $scope.clickHandler = function () {
               $http({
                   method: "GET",
                   url: "data/data.json"
               }).then(function successHandler(response) {
                   $scope.items = response.data;
               }, function errorHandler(response) {
                   alert("Error: " + response.statusText);
               });
           };
       }]);
   </script>
</head>
<body>
  <section ng-controller="mainCtrl">
  <div class="container">
      <input type="button" class="btn btn-default" value="Get data" ng-click="clickHandler()">
      <table class="table">
         <thead>
         <tr>
             <th>Name</th>
             <th>Price</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="item in items">
             <td>{{item.name}}</td>
             <td>{{item.price}}</td>
         </tr>
         </tbody>
      </table>
    </div>
  </section>
</body>
</html>
