<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>chipsApp</title>

  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.4/angular-material.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.4/docs.css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div ng-controller="chipsCtrl" class="container" ng-app="chipsApp">
    <h1 class="md-title">Enter and choose any products</h1>
    <h3 class="md-body-2">Also you can edit your wrong chips!</h3>
    <div layout="row" layout-wrap="">
      <md-chips class="chips" ng-model="items" md-enable-chip-edit="true"></md-chips>
    </div>
    <md-button class="mybtn md-raised md-primary" ng-click="createJSON()">Send</md-button>
  </div>


  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
  <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.4/angular-material.js'></script>
  <script src="js/index.js"></script>

</body>
</html>
